body{
    margin: 0;
    padding: 0;
}
table, tr, th, td {
    border: 2px solid crimson;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th{
    height: 80px;
    background: #ff5871;
    color: darkblue;
}
td{
    height: 80;
    background: #e5ffc7;
    font-size: 18px;
    text-align: center;
    font-family: "Bauhaus 93";
}
tr:hover {
    background: aquamarine;
    color: #2c2380;
}
tr:nth-child(odd){
    background: #9e88ff;
    color: darkgray;
}
.form-contact{
    width: 40%;
    background: #e5ffc7;
    padding: 15px;
}
.form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px chocolate;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #cccccc;
    resize: none;
}
input[type=submit] {
    width: 100%;
    background-color: aquamarine;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: sans-serif;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #ff5871;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cccccc;
}
li{
    float: left;
}
li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    font-family: SansSerif;
    font-size: 20px;
}
li a:hover{
    background-color: #e5ffc7;
}
.active {
    background-color: #cccccc;
}
.container {
    display: flex;
}
p {
    text-align: justify;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.footer{
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #cccccc;
    font-family: sans-serif;
    color: white;
}
.heading{
    font-family: Onyx;
    color: #ff4d84;
    text-align: center;
    margin-left: 50px;
}